@use "../../../styles/Colors/colors";
@use "../../../styles/Elements/img";
@use "../../../styles/Elements/type";

.container{
    width:240px;
    height: calc(240px * 1.1618);
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 4px;
}
.img{
    @extend %img;
}
.name{
    font-size: 1.3rem;
    font-weight: 600;
}
.types{
    @extend %types;

    .type{
        @extend %type;
    }
}